{
  "presets": [
    [
       "@babel/preset-env",{
        // Los tarhets son las plataformas donde se ejecurtara el codigo final
            "targets" : { "node" : "current" }
        }
    ]
  ]  
}